version: 2.1

# Definición de los trabajos (jobs)
jobs:
  # Trabajo de Build y Pruebas
  build-and-test:
    docker:
      - image: cimg/python:3.9
      - image: redis:alpine
        name: redis-final
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Instalar dependencias
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
            pip install pytest redis pytest-cov black ggshield
      - run:
          name: Ejecutar pruebas
          environment:
            REDIS_HOST: redis-final
            REDIS_PORT: 6379
          command: |
            . venv/bin/activate
            pytest tests/ --cov=. --cov-report=html:test-results/coverage-html
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
          destination: test-reports

  # Trabajo de despliegue (deploy)
  deploy:
    docker:
      - image: cimg/base:2024.02
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Verificar variables de entorno para Docker
          command: |
            if [ -z "$DOCKERHUB_USER" ] || [ -z "$IMAGE_NAME" ] || [ -z "$CIRCLE_SHA1" ]; then
              echo "Error: Una o más variables están vacías. DOCKERHUB_USER=$DOCKERHUB_USER IMAGE_NAME=$IMAGE_NAME CIRCLE_SHA1=$CIRCLE_SHA1"
              exit 1
            fi
            echo "DOCKERHUB_USER: $DOCKERHUB_USER"
            echo "IMAGE_NAME: $IMAGE_NAME"
            echo "CIRCLE_SHA1: $CIRCLE_SHA1"
      - run:
          name: Construir imagen Docker
          command: |
            docker build -t "$DOCKERHUB_USER/$IMAGE_NAME:$CIRCLE_SHA1" .
      - run:
          name: Login a Docker Hub
          command: |
            echo $DOCKERHUB_PASS | docker login -u $DOCKERHUB_USER --password-stdin
      - run:
          name: Push imagen a Docker Hub
          command: |
            docker push "$DOCKERHUB_USER/$IMAGE_NAME:$CIRCLE_SHA1"

  # Trabajo de actualización de manifiestos de Kubernetes
  update-k8s-manifests:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout  # Clonar el repositorio
      - run:
          name: Limpiar y Clonar repositorio de manifiestos
          command: |
            # Eliminar el directorio 'manifests' si ya existe
            if [ -d "manifests" ]; then
              rm -rf manifests
            fi
            # Clonar el repositorio
            git clone https://github.com/RAMON1743/app-practica-cicd-Ramon-Meza.git manifests
      - run:
          name: Configurar identidad de Git
          command: |
            git config --global user.email "ramon.meza83@gmail.com"
            git config --global user.name "RAMON1743"
      - run:
          name: Verificar si el archivo deployment.yaml existe
          command: |
            # Verificar la ubicación actual
            echo "Directorio actual: $(pwd)"

            # Cambiar al directorio 'manifests'
            cd manifests || { echo "Error: No se pudo acceder al directorio 'manifests'"; exit 1; }

            # Verificar el contenido del directorio 'manifests'
            echo "Contenido de manifests:"
            ls -l

            # Verificar si el archivo 'deployment.yaml' está presente
            if [ -f "deployment.yaml" ]; then
              echo "Archivo deployment.yaml encontrado."
            else
              echo "Error: No se encontró el archivo deployment.yaml en 'manifests'."
              exit 1
            fi
      - run:
          name: Actualizar imagen en manifiestos con envsubst
          command: |
            # Asegurarse de estar en el directorio correcto
            cd manifests
            # Verificar contenido antes de usar envsubst
            cat deployment.yaml

            # Usar envsubst para reemplazar las variables en el archivo deployment.yaml
            envsubst < deployment.yaml > deployment_updated.yaml

            # Verificar que la imagen haya sido actualizada
            cat deployment_updated.yaml

            # Sobrescribir el archivo original con el actualizado
            mv deployment_updated.yaml deployment.yaml
      - run:
          name: Commit y Push de cambios
          command: |
            cd manifests
            git add .
            git commit -m "Actualizar imagen a $DOCKERHUB_USER/$IMAGE_NAME:$CIRCLE_SHA1"
            git push https://github.com/RAMON1743/app-practica-cicd-Ramon-Meza.git main

# Definición del workflow
workflows:
  build-test-deploy:
    jobs:
      - build-and-test
      - deploy:
          requires:
            - build-and-test
          filters:
            branches:
              only:
                - main
      - update-k8s-manifests:
          requires:
            - deploy
          filters:
            branches:
              only:
                - main
